
.col_gallery {
  overflow: hidden;
  position: relative;
}

.slide_gallery {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.275s ease-in-out, visibility 0s 0.275s;
  visibility: hidden;
  will-change: transform;
  transform: translateY(100%);
}

.row_gallery:hover ~ .row_gallery .slide {
  transform: translateY(-100%);
}
.row_gallery:hover .slide {
  transform: translateX(100%);
}
.row_gallery:hover .col:hover ~ .col_gallery .slide {
  transform: translateX(-100%);
}
.row_gallery:hover .col:hover .slide {
  transform: none;
  visibility: visible;
  transition-delay: 0s;
}

/* Pen styling */
/** {*/
/*  box-sizing: border-box;*/
/*}*/


.container_gallery {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1200px;
}

.row_gallery {
  display: flex;
}

.col_gallery {
  color: #fff;
  flex: 1 1 auto;
  min-height: 260px;
  position: relative;
}
.col_gallery .h2gallery {
  font-weight: 300;
  font-size: 1.33333rem;
  line-height: 1.25;
  margin: 0;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 0;
}

.col_gallery:nth-child(2) {
  min-width: 20%;
}

.col_gallery:nth-child(4) {
  min-width: 33%;
}

.col_gallery:nth-child(3) + .col:nth-child(3) {
  min-width: 50%;
}

.photo-container {
  background: #0f0523 50% 50%/cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 1s;
  transform-origin: bottom right;
}
.photo-container::before {
  background: linear-gradient(transparent, rgba(150, 150, 150, 0), #000320);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.col_gallery:hover .photo-container {
  transform: scale(1.25);
}

.slide_gallery {
  background: rgba(25, 1, 21, 0.8);
  padding: 0 1.5rem;
}